<th:block th:replace="security/css/custom-css"></th:block>
<link rel="stylesheet" type="text/css"
      th:href="@{/css/common-layout/custom_input-style.css}"/>
<th:block th:replace="css/custom_style.html"></th:block>
<th:block th:replace="security/js/login-js"></th:block>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon"
          th:href="@{/metronic/assets/media/logos/fav_icon_2.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

</head>

<body>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form
                id="registerNewUser"
                method="post"
                th:action="@{/api/login/registerNewUser}"
        >
            <!--<a th:href="@{/}" class="brand-logo d-flex align-items-center">
                <img alt="Logo" width="300" height="120" th:src="@{/metronic/assets/media/logos/b3_logo_1.png}">
            </a>-->


            <th:block
                    th:with="type=${'text'},
                                 name=${'firstName'},
                                 id=${'firstName'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='First Name'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <th:block
                    th:with="type=${'text'},
                                 name=${'lastName'},
                                 id=${'lastName'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='Last Name'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <th:block
                    th:with="type=${'text'},
                                 name=${'userName'},
                                 id=${'userName'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='User Name'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <th:block
                    th:with="type=${'email'},
                                 name=${'signUpEmail'},
                                 id=${'signUpEmail'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='Email'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <div class="form__div">
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthDay" name="birthDay">
            </div>

            <th:block
                    th:with="type=${'password'},
                                 name=${'signUpPassword'},
                                 id=${'signUpPassword'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='Password'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <th:block
                    th:with="type=${'password'},
                                 name=${'repeatPassword'},
                                 id=${'repeatPassword'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='Confirm Password'"
                    th:include="components/inputs/text-input"
            >
            </th:block>
            <button type="button" onclick="signUpClicked()">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form
                id="signInUser"
                method="POST"
                th:action="@{/signIn}"
        >
            <a th:href="@{/}" class="brand-logo d-flex align-items-center">
                <img alt="Logo" width="300" height="120" th:src="@{/metronic/assets/media/logos/b3_logo_1.png}">
            </a>
            <h1 style="margin-bottom:20px">Sign In</h1>
            <input type="hidden" value="" name="firstName">
            <input type="hidden" value="" name="lastName">
            <input type="hidden" value="" name="email">
            <input type="hidden" value="" name="birthDay">

            <th:block
                    th:with="type=${'text'},
                                 name=${'userName'},
                                 id=${'signInUserName'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='User Name'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <th:block
                    th:with="type=${'password'},
                                 name=${'signUpPassword'},
                                 id=${'password'},
                                 class=${'form__input2'},
                                 required=${true},
                                 label='Password'"
                    th:include="components/inputs/text-input"
            >
            </th:block>

            <a href="#" style="color: red; font-weight: bold;">Forget your Password?</a>
<!--            <button type="button" onclick="signInBtnClicked()">Sign In</button>-->
            <button type="submit">Register</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Already Have An Account?</h1>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>New User?</h1>
                <p class="bold">Create an account!</p>
                <button type="button" class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>