<div class="select">

    <select
            th:if="${field != null}"
            th:field="*{__${field}__}"
            th:id="${id}"
            class="select-text form-control"
            th:classappend="${class}"
            th:style="${style}"
            th:required="${required}"
            th:hideEmptyOption="${hideEmptyOption}"
            th:readonly="${readonly}">

        <option th:if="${hideEmptyOption == null || hideEmptyOption == false}" value="">Select</option>
        <option
                th:each="item: ${list}"
                th:value="${item.id}"
                th:text="${item.nameEn}">
        </option>
    </select>

    <select
            th:if="${field == null}"
            class="select-text form-control"
            th:id="${id}"
            th:name="${name}"
            th:classappend="${class}"
            th:style="${style}"
            th:required="${required}"
            th:readonly="${readonly}"
            th:hideEmptyOption="${hideEmptyOption}"
            th:value="*{__${value}__}"
    >

        <option th:if="${hideEmptyOption == null || hideEmptyOption == false}" value="">Select</option>
        <option
                th:each="item: ${list}"
                th:value="${item.id}"
                th:text="${item.nameEn}"
                th:selected="${item.id == selectedValue}"
        >
        </option>
    </select>

    <label th:for="${id}" class="select-label" th:text="${label}">
        <span th:if="${ required == true }" class="text-danger">*</span>
    </label>
</div>
<div class="error-message-div"></div>
<div class="invalid-feedback" th:if="${field != null && #fields.hasErrors( '__${field}__' )}"
     th:errors="*{__${field}__}"> Error!
</div>