<div class="input-group form__div">
    <input
            th:if="${field != null}"
            class="form__input form-control"
            th:id="${id}"
            th:errorclass="is-invalid"
            th:type="${type}"
            th:min="${min}"
            th:max="${max}"
            th:field="*{__${field}__}"
            th:required="${required}"
            th:classappend="${class}"
            th:style="${style}"
            th:readonly="${readonly}"
            placeholder=" "
    />
    <input
            th:if="${field == null}"
            class="form__input form-control"
            th:id="${id}"
            th:name="${name}"
            th:type="${type}"
            th:min="${min}"
            th:max="${max}"
            th:required="${required}"
            th:classappend="${class}"
            th:style="${style}"
            th:readonly="${readonly}"
            th:value="*{{ __${value}__ }}"
            placeholder=" "
    />
    <label th:for="${id}" class="form__label">
        [[#{${label}}]]
        <span th:if="${ required == true }" class="text-danger">*</span>
    </label>
    <div class="input-group-append">
        <span class="input-group-text" th:id="${btn_id}" th:name="${btn_name}" th:classappend="${btn_class}" style="cursor: pointer">[[${btn_text}]]</span>
    </div>
</div>
<div class="error-message-div"></div>
<div class="invalid-feedback"  th:if="${field != null && #fields.hasErrors( '__${field}__' )}" th:errors="*{__${field}__}"> Error!</div>