<style>
    .d-flex.flex-column.flex-root {
        margin-bottom: 0px;
    }
</style>

<th:block th:replace="bottle/js/bottle-add-search-js"></th:block>


<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label" th:text="${pageTitle}"></h3>
        </div>
        <div class="card-toolbar">
            <a th:href="@{/bottle/add}">
                <button type="button" class="custom-btn blue-transparent-btn-with-icon">
                    <i class="fa fa-plus"></i>
                    <span class="blue-transparent-btn-with-icon-text">Add Bottle</span>
                </button>
            </a>
        </div>
    </div>

    <div class="card-body">

        <div class="">
            <th:block th:replace="bottle/components/bottle-add-search-nav"></th:block>
        </div>
        <div class="mb-10 mt-3">
            <th:block th:replace="inputs/paginate-input"></th:block>
        </div>

        <div class="table-responsive">
            <table class="table custom-data-table table-bordered dataTable text-center rounded">

                <thead class="text-nowrap">
                <tr class="">
                    <th> No</th>
                    <th> Bottle Name</th>
                    <th> Bottle Picture</th>
                    <th> Volume (L)</th>
                    <th> Price (€)</th>
                    <th> Supplier</th>
                    <th> Stock</th>
                    <th> Action</th>
                </tr>
                </thead>

                <tbody id="bottle_add_search_table_body">

                </tbody>

            </table>
        </div>

    </div>

</div>