<th:block th:replace="products/css/custom-css"></th:block>
<div id="kt_page_sticky_card" class="card card-custom card-sticky">
    <div class="card-header align-items-center">
        <div class="card-title">
            <h3 class="card-label">
                Products
            </h3>
        </div>
    </div>
    <div class="card-body">




    <div class="row" th:object="${productResponse}">

        <th:block th:each="beverageResponse, stat: ${productResponse.beverageResponseList}"
                  th:object="${beverageResponse.bottleResponse}">

            <div class="col-md-3 col-sm-6 item">
                <div class="card shadow p-3 mb-5 bg-white rounded card-div item-card ">
                    <img class="card-img-top card-image" th:src="*{bottlePic}" alt="image"
                         style="width:100%">
                    <div class="card-body">
                        <h6 class="center-item" th:text="*{price}">Price</h6>
                        <h5 class="center-item" th:text="*{bottleNameEn}">Name</h5>
                        <h5 class="center-item mt-1" style="color: red;font-size: medium;" th:text="*{inStock}">Stock</h5>
                        <a href="#" class="btn btn-info center-item add-cart-btn">Add to cart</a><!--thymeleaf code-->
                    </div>
                </div>
            </div>

        </th:block>

    </div>



    </div>
</div>