<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1"/>
    <title th:text="${pageTitle}"> _Blank_ </title>
    <link rel="shortcut icon"
          th:href="@{{defaultSuccessURL}/metronic/assets/media/logos/fav_icon_2.png(defaultSuccessURL=${defaultSuccessUrl})}"/>

    <!--begin::Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!--end::Fonts-->



    <!--begin::Global Theme Styles(used by all pages)-->

    <link th:href="@{{defaultSuccessURL}/metronic/assets/css/style.bundle.min.css(defaultSuccessURL=${defaultSuccessUrl})}"
          rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <!--begin::Layout Themes(used by all pages)-->
    <link th:href="@{{defaultSuccessURL}/metronic/assets/css/themes/layout/brand/dark.css(defaultSuccessURL=${defaultSuccessUrl})}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{{defaultSuccessURL}/metronic/assets/css/themes/layout/aside/dark.css(defaultSuccessURL=${defaultSuccessUrl})}"
          rel="stylesheet" type="text/css"/>
    <!--end::Layout Themes-->

    <!--custom general css-->
    <link rel="stylesheet" type="text/css"
          th:href="@{{defaultSuccessURL}/css/common-layout/jquery-ui.css(defaultSuccessURL=${defaultSuccessUrl})}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{{defaultSuccessURL}/css/common-layout/normalize.css(defaultSuccessURL=${defaultSuccessUrl})}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{{defaultSuccessURL}/css/common-layout/custom_input-style.css(defaultSuccessURL=${defaultSuccessUrl})}"/>


    <link rel="stylesheet" type="text/css"
          th:href="@{{defaultSuccessURL}/css/button-style/button-style.css(defaultSuccessURL=${defaultSuccessUrl})}"/>


    <link rel="stylesheet" type="text/css"
          th:href="@{{defaultSuccessURL}/css/common-layout/style.css(defaultSuccessURL=${defaultSuccessUrl})}"/>




    <th:block th:replace="css/custom_style.html"></th:block>


</head>