<style>
    .btn.btn-clean.focus:not(.btn-text), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) {
        /*background: rgba(255, 255, 255, 0.25);*/
        background: transparent;
        /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
        /*backdrop-filter: blur(20px);*/
        /*-webkit-backdrop-filter: blur(20px);*/
    }

    .btn.btn-clean:not(:disabled):not(.disabled).active, .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text), .show .btn.btn-clean.btn-dropdown, .show > .btn.btn-clean.dropdown-toggle {
        background: transparent;
    }



    .notification-info-wrapper:hover .notification-text {
        display: block;
    }



    .notification-number {
        background: #aa0a0a;
        color: #fff;
        border-radius: 100%;
        padding: 0.15rem 0.45rem;
        position: absolute;
        margin-top: -35px;
        margin-left: 20px;
        font-weight: 700;
    }

    .app-notification-hidden {
        display: none;
    }

    .btn.btn-clean {
        padding-left: 1.5rem;
    }

    .btn.btn-clean:not(:disabled):not(.disabled).active, .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text), .show .btn.btn-clean.btn-dropdown, .show > .btn.btn-clean.dropdown-toggle {
        padding-left: 1.5rem;
    }



    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 25%, 75%);
        }
        100% {
            background-color: hsl(200, 25%, 90%);
        }
    }
</style>

<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between" style="background: #000">

        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

            <!--begin::Header Menu-->
            <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                <!--begin::Header Nav-->
                <ul class="menu-nav">

                </ul>
                <!--end::Header Nav-->
            </div>
            <!--end::Header Menu-->
        </div>
        <!--end::Header Menu Wrapper-->

        <!--begin::Topbar-->
        <div class="topbar" style="background: #000">


            <!--begin::cart-->
            <div class="dropdown" id="cart">
                <!--begin::Toggle-->
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg pulse pulse-primary">
                        <i style="color: #fff;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="pulse-ring"></span>
                        <small id="itemAddedToCart" class="notification-number"  th:text="${totalItemAddedToCart}">
                            0
                        </small>
                    </div>
                </div>
                <!--end::Toggle-->

            </div>
            <!--end::cart-->

            <!--begin:user-->
            <div class="dropdown ml-3">
                <!--begin::Toggle-->
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg ">
                        <i class="fa fa-user " style="color: #fff;" aria-hidden="true"></i>

                    </div>
                </div>
                <!--end::Toggle-->

            </div>

            <!--end:user-->


            <!--begin::sign in-->
            <div class="dropdown ml-3">
                <!--begin::Toggle-->
                <div class="topbar-item" >
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg ">
                        <a th:href="@{/login}" class=" btn btn-icon btn-clean btn-dropdown btn-lg">
                            <i style="color: #fff;" class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <!--end::Toggle-->

            </div>
            <!--end::sign in-->




        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>

<script>
    $(document).ready(function() {
        $("#cart").click(function(){
            window.location.href = '/cart/view';
        });

    });

</script>



