<script>


    function addToCart(selectedElement){
        let addToCart = document.querySelector('#itemAddedToCart');
        addToCart.innerText = +addToCart.innerText+1;
        updateSpringBootSession(selectedElement);
    }

    function updateSpringBootSession(selectedElement){
        let data = selectedElement.dataset.rowData;
        data = JSON.parse(data.replace(/&quot;/g, '"'));

        console.log(data);

        let addedItemName = '';
        let addedItemPic = '';
        let addedItemId = -1;
        let addedItemPrice = -1.0;
        if(+data.productType === 1) {
            addedItemId = data.bottleResponse.id;
            addedItemName = data.bottleResponse.bottleNameEn;
            addedItemPic = data.bottleResponse.bottlePic;
            addedItemPrice = data.bottleResponse.price;
        }
        else if(+data.productType === 2) {
            addedItemId = data.crateResponse.id;
            addedItemName = data.crateResponse.crateNameEn;
            addedItemPic = data.crateResponse.cratePic;
            addedItemPrice = data.crateResponse.price;
        }

        let beverageSessionResponse = {
            beverageId: data.beverageId,
            productType: data.productType,
            addedItemId: addedItemId,
            addedItemName: addedItemName,
            addedItemPic: addedItemPic,
            addedItemPrice: addedItemPrice,
            addedItemQuantity: 1,
            totalPricePerAddedItem: 0.0
        };

        showLoader();
        const url = "/api/cart/setCartSessionData";
        callAjaxWithAsyncFalse(url, beverageSessionResponse, "GET",
            (data) => {
                if (data.success) {

                } else {
                    messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);

                }
                hideLoader();
            }, () => {
                messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);
                hideLoader();
            });
    }
</script>