<th:block th:fragment="root-node">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="svg-icon menu-icon">
            <img class="menu-logo" th:src="@{/images/side-menu-icons/icon_dia_1.svg}" alt=""/>
        </span>
        <span class="menu-text" th:text="${menuName}">Menu</span>
<!--        <i class="menu-arrow"></i>-->
        <span class="svg-icon menu-icon">
            <img class="menu-logo" th:src="@{/images/side-menu-icons/icon_dia_2.svg}" alt=""/>
        </span>
    </a>
</th:block>