
<script>

    $(document).ready(function () {

        $(".enable-select2").select2();
        $('#bottleAddRepeater').repeater({

            initEmpty: false,

            show: function () {
                $(this).slideDown();
                $(".enable-select2").select2();
                assignSectionNumber(this, 'section-number');
            },

            hide: function (deleteElement) {
                poolConfirm(
                    {
                        title: poolConfirmation,
                        text: poolRevertConfirmation,
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: deleteTitle,
                        cancelButtonText: poolConfirmNo
                    },
                    (result) => {
                        $(this).slideUp(deleteElement);
                        setTimeout(function () {
                            modifiedSectionNumberAfterDelete('section-number');
                        }, 1000);
                    }
                );
            }

        })
    });

    function assignSectionNumber(selectedElement, sectionClass) {
        selectedElement.querySelector('.' + sectionClass).innerText =
            document.querySelectorAll('.' + sectionClass).length;
    }

    function modifiedSectionNumberAfterDelete(sectionClass) {
        let allExistingSections = document.querySelectorAll('.' + sectionClass);
        allExistingSections.forEach((item, index) => {
            item.innerText = index + 1
        });
    }

    function saveBottles(successFun, failFun) {
        const successMsg="Information Saved Successfully";
        showLoader();
        $.post({
            url: '/api/bottle/save',
            enctype: 'multipart/form-data',
            data: new FormData(($("#bottleAdd"))[0]),
            processData: false,
            contentType: false,
            success: (res) => {
                if (res.success) {
                    successToast(successMsg,
                        successFun,
                        res);
                } else {
                    failureToast(res.message,failFun);
                }
            },
            error: () => {
                failureToast(dataSaveFailure, failFun);
            }
        });
    }

    function redirectToSearch(){
        window.location.href= '/bottle/search';
    }

    function successToast(msg, successFun, res) {
        hideLoader();
        Swal.fire({
            title: dataSaved,
            html: msg,
            type: "success",
            timer: 3000,
            onClose: () => {
                if (successFun && typeof successFun === 'function') {
                    successFun(res);
                }
            }
        });
    }

    function failureToast(msg, failFun) {
        hideLoader();
        Swal.fire({
            title: failure,
            html: msg,
            type: "error",
            timer: 3000,
            onClose: () => {
                if (failFun && typeof failFun === 'function') {
                    failFun();
                }
            }
        });
    }

</script>