<script>

    function submitOrder() {


        let isAuthenticated = [[${isAuthenticated}]];
        let totalItemAddedToCart = [[${totalItemAddedToCart}]];

        if (isAuthenticated !== true) {
            messageDialog('Sorry!', 'You have to log in first to make an order!', 'error', false, 'Ok', 'Ok', () => {
                window.location.href = '/login';
            }, null);
        } else if (+totalItemAddedToCart < 1) {
            messageDialog('Sorry!', 'To make an order, please add item in the cart!', 'error', false, 'Ok', 'Ok', () => {
                window.location.href = '/';
            }, null);
        } else {

            placeOrder();
        }
    }

    function placeOrder() {
        let userOrderPaymentResponse = {
            fullName: $("#fullName").val(),
            email: $("#email").val(),
            street: $("#street").val(),
            streetNumber: $("#streetNumber").val(),
            city: $("#city").val(),
            state: $("#state").val(),
            postalCode: $("#postalCode").val()
        };

        showLoader();
        const url = "/api/order/placeOrder";
        callAjaxWithAsyncFalse(url, userOrderPaymentResponse, "POST",
            (data) => {
                if (data.success) {
                    messageDialog('Success!', data.message, 'success', false, 'Ok', 'Ok', () => {
                        window.location.href = '/orders/view';
                    }, null);

                } else {
                    messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);

                }
                hideLoader();
            }, () => {
                messageDialog('Error!', 'Can not place order!','error', false, 'Ok' , 'Ok',null,null);
                hideLoader();
            });
    }

</script>