<li
        th:classappend="${ menuPath != null and menuPath.contains(Menu.PRODUCTS)? 'menu-item-here menu-item-open':'' }"
        class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
        <a th:href="@{/}" class="menu-link">
                            <span class="svg-icon menu-icon">
                                <img class="menu-logo" th:src="@{/images/side-menu-icons/icon_dia_3.svg}" alt=""/>
                            </span>
            <span class="menu-text"> Products </span>
        </a>

    <!--<th:block th:with="menuName = 'Products'">
        <div th:replace="fragment/menu-fragment::root-node"></div>
    </th:block>

    <div class="menu-submenu">

        <ul class="menu-subnav">


            <li
                    th:classappend="${ menuPath != null and menuPath.contains(Menu.BEVERAGE_VIEW)? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
            >

                <a th:href="@{/}" class="menu-link">
                    <span class="svg-icon menu-icon">
                        <img class="menu-logo" th:src="@{/images/side-menu-icons/icon_dia_3.svg}" alt=""/>
                    </span>
                    <span class="menu-text"> Products </span>
                </a>

            </li>


        </ul>
    </div>-->
</li>