<th:block th:replace="cart/css/cart-custom-css"></th:block>
<th:block th:replace="cart/js/cart-js"></th:block>
<div id="kt_page_sticky_card" class="card card-custom card-sticky">
    <div class="card-header align-items-center">
        <div class="card-title">
            <h3 class="card-label">
                Basket
            </h3>
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-70">
                <div class="container">
                    <form th:object="${userOrderPaymentResponse}">

                        <div class="row">
                            <div class="col-50">
                                <h3>Billing Address</h3>
                                <label for="fullName"><i class="fa fa-user"></i> Full Name</label>
                                <input type="text" required="required" id="fullName" name="fullName" th:value="*{fullName}" th:placeholder="*{fullName}">
                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" required="required" id="email" name="email" th:value="*{email}" th:placeholder="*{email}">
                                <label for="street"><i class="fa fa-address-card-o"></i> Street</label>
                                <input type="text" required="required" id="street" name="street" th:value="*{street}" th:placeholder="*{street}">
                                <label for="streetNumber"><i class="fa fa-address-card-o"></i> street Number</label>
                                <input type="text" required="required" id="streetNumber" name="streetNumber" th:value="*{streetNumber}" th:placeholder="*{streetNumber}">
                                <label for="city"><i class="fa fa-institution"></i> City</label>
                                <input type="text" required="required" id="city" name="city" th:value="*{city}" th:placeholder="*{city}">

                                <div class="row">
                                    <div class="col-50">
                                        <label for="state">State</label>
                                        <input type="text" required="required" id="state" name="state" th:value="*{state}" th:placeholder="*{state}">
                                    </div>
                                    <div class="col-50">
                                        <label for="postalCode">Postal Code</label>
                                        <input type="text" required="required" id="postalCode" name="postalCode" th:value="*{postalCode}" th:placeholder="*{postalCode}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-50">
                                <h3>Payment</h3>
                                <label for="fullName">Accepted Cards</label>
                                <div class="icon-container">
                                    <i class="fa-brands fa-cc-visa" style="color: navy"></i>
                                    <i class="fa-brands fa-cc-amex" style="color:blue;"></i>
                                    <i class="fa-brands fa-cc-mastercard" style="color:red;"></i>
                                    <i class="fa-brands fa-cc-discover" style="color:orange;"></i>
                                </div>
                                <label for="cname">Name on Card</label>
                                <input type="text" id="cname" name="cardname" placeholder="Full Name">
                                <label for="ccnum">Credit card number</label>
                                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                                <label for="expmonth">Exp Month</label>
                                <input type="text" id="expmonth" name="expmonth" placeholder="September">
                                <div class="row">
                                    <div class="col-50">
                                        <label for="expyear">Exp Year</label>
                                        <input type="text" id="expyear" name="expyear" placeholder="2018">
                                    </div>
                                    <div class="col-50">
                                        <label for="cvv">CVV</label>
                                        <input type="text" id="cvv" name="cvv" placeholder="352">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <label>
                            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                        </label>
                        <input type="button" onclick="submitOrder()" value="Submit Order" class="custom-order-btn">
                    </form>
                </div>
            </div>
            <div class="col-30">
                <div class="container">
                    <h4 class="mb-6">Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b th:text="${totalItemAddedToCart}">4</b></span></h4>
                   <!-- <a href="#" th:text="${element.value.addedItemName}"></a>-->
                    <th:block th:each="element : ${itemAddedToCart}">
                        <p>
                            <a href="#" style="font-weight: bold;" th:text="${element.value.addedItemName}"></a>
                            <img th:src="${element.value.addedItemPic}" alt="image" height="40px" width="40px">
                            <span class="price"
                                  th:text="${element.value.addedItemPrice + '€  * '
                                   + element.value.addedItemQuantity
                                   +' = '
                                   + element.value.totalPricePerAddedItem+ '€'}">

                            </span>
                        </p>
                    </th:block>


                    <hr>
                    <p>Total <span class="price" style="color:black"><b th:text="${totalPriceOfAddedItems + '€'}"></b></span></p>
                </div>
            </div>
        </div>

    </div>
</div>