<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script th:src="@{js/common-input-validation.js}"></script>
<th:block th:replace="js/common-js-var" th:inline="javascript"></th:block>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script th:src="@{js/loader.js}" ></script>

<script>

    $(document).ready(function() {
        $('#email').removeClass('form__input');
        $('#password').removeClass('form__input');
        $("#register").click(function(){
            $('#container').addClass('active');
        });

        $("#login").click(function(){
            $('#container').removeClass('active');
        });



    });

    function signInBtnClicked(){
        let formData = {
            userName: $("#signInUserName").val(),
            signUpPassword: $("#password").val(),
            firstName: '',
            lastName: '',
            email: $("#signInUserName").val(),
            birthDay: ''
        };

        showLoader();
        const url = "/api/login/signIn";
        callAjaxWithAsyncFalse(url, formData, "GET",
            (data) => {
                if (data.success) {
                    window.location.href = '/';

                } else {
                    messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);

                }
                hideLoader();
            }, () => {
                messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);
                hideLoader();
            });
    }

    function signUpClicked(){

        let formData = {
            firstName: $("#firstName").val(),
            lastName: $("#lastName").val(),
            userName: $("#userName").val(),
            email: $("#signUpEmail").val(),
            signUpPassword: $("#signUpPassword").val(),
            birthDay: $("#birthDay").val()
        };

        if(formData.signUpPassword.trim() !== $("#repeatPassword").val().trim()){
            messageDialog('Error!', 'Password mismatched!','error', false, 'Ok' , 'Ok',null,null);
        }
        else{
            showLoader();
            const url = "/api/login/registerNewUser";
            callAjaxWithAsyncFalse(url, formData, "POST",
                (data) => {
                    if (data.success) {
                        messageDialog('Success!', data.message,'success', false, 'Ok' , 'Ok',() => {
                            window.location.href = '/login';
                        },null);

                    } else {
                        messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);

                    }
                    hideLoader();
                }, () => {
                    messageDialog('Error!', data.message,'error', false, 'Ok' , 'Ok',null,null);
                    hideLoader();
                });
        }


    }

</script>