@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;600;700;800&display=swap');


.select {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 2rem;
}

.select-text {
    position: relative;
    font-family: "Encode Sans", "SolaimanLipi", sans-serif;
    font-weight: 500;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px 22px 10px 16px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #c2c2c2;
    color: #323233;
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border: 1px solid #0072ea;
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance: none;
    color: #323233;
}

.select:after {
    position: absolute;
    top: 46%;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4d4d4d;
    pointer-events: none;
}

/* LABEL ===========================Nsi============ */
.select-label {
    color: #323233;
    background: white;
    font-size: .9rem !important;
    font-weight: 500 !important;
    position: absolute;
    pointer-events: none;
    padding: 0 5px;
    margin: 0 5px;
    left: 4px;
    top: -8px;
}

.select-text:focus + .select-label {
    color: #0072ea !important;
}